In [3]:
a = [1,2,3]
b=a
a.append(4)
b

[1, 2, 3, 4]

In [4]:
class Gizmo:
  def __init__(self):
    print('Gizmo id: %d' % id(self))
x = Gizmo()

Gizmo id: 135246686406544

In [6]:
y = Gizmo() * 10

Gizmo id: 135246686412928

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [7]:
dir()

['Gizmo',
 'In',
 'Out',
 '_',
 '_3',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'exit',
 'get_ipython',
 'quit',
 'x',
 'y']

In [8]:
charles  = {'name': 'Charles L. Dodgson', 'born': 1832}
lewis = charles

In [9]:
lewis is charles

True

In [10]:
id(charles), id(lewis)

(135246684256832, 135246684256832)

In [11]:
lewis['balance'] = 950
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [12]:
alex = {'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}
alex == charles

True

In [14]:
alex is charles

False

In [15]:
t1 = (1,2,[30,40])
t2 = (1,2,[30,40])
t1 == t2, t1 is t2

(True, False)

In [16]:
id(t1[-1])

135246676111104

In [17]:
t1[-1].append(99)
t1, id(t1[-1])

((1, 2, [30, 40, 99]), 135246676111104)

In [18]:
t1 == t2

False

In [19]:
l1 = [3, [55,44], (7,8,9)]
l2 = list(l1)
l2

[3, [55, 44], (7, 8, 9)]

In [20]:
l2 == l1

True

In [21]:
l2 is l1

False

In [22]:
l1 = [3, [55,44], (7,8,9)]
l2 = list(l1)

[3, [55, 44], (7, 8, 9)]

In [24]:
l1.append(100)

In [25]:
l1[1].remove(55)
print('l1:', l1)
print('l2:', l2)

l1: [3, [44], (7, 8, 9), 100]
l2: [3, [44], (7, 8, 9)]

In [26]:
l2[1] += [33, 22]
l2[2] += (10, 11)
print('l1:', l1)
print('l2:', l2)

l1: [3, [44, 33, 22], (7, 8, 9), 100]
l2: [3, [44, 33, 22], (7, 8, 9, 10, 11)]

In [27]:
class Bus:
  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = list(passengers)

  def pick(self, name):
    self.passangers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [28]:
import copy
bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1), id(bus2), id(bus3)

(135245787102080, 135245792378064, 135245792371488)

In [29]:
bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Claire', 'David'],
 ['Alice', 'Claire', 'David'],
 ['Alice', 'Bill', 'Claire', 'David'])

In [30]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)

(135245785697216, 135245785697216, 135245786510016)

In [31]:
a = [10, 20]
b = [a, 30]
a.append(b)
a

[10, 20, [[...], 30]]

In [33]:
c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

In [34]:
def f(a,b):
  a += b
  return a

a = [1,2]
b = [3,4]
f(a, b), (a, b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [35]:
x = 1
y = 2
f(x, y), (x, y)

(3, (1, 2))

In [36]:
t = (10, 20)
u = (30, 40)
f(t, u), (t, u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

In [41]:

class HauntedBus:
    """유령 승객이 출몰하는 버스 모델"""

    def __init__(self, passengers=[]):
        self.passengers = passengers

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [42]:
bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [43]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [44]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [45]:
bus3 = HauntedBus()
bus3.passengers

['Carrie']

In [46]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [47]:
bus2.passengers is bus3.passengers

True

In [48]:
bus1.passengers

['Bill', 'Charlie']

In [49]:
HauntedBus.__init__.__defaults__

(['Carrie', 'Dave'],)

In [50]:
HauntedBus.__init__.__defaults__[0] is bus2.passengers

True

In [51]:
class TwilightBus:
    """승객이 사라지게 만드는 버스 모델"""

    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = passengers # 사본 생성이 아니라 인수를 별명으로 사용

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [52]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Maya', 'Diana']

In [53]:
class TwilightBus:
    """승객이 사라지게 만드는 버스 모델"""

    def __init__(self, passengers=None):
      if passengers is None:
        self.passengers = []
      else:
        self.passengers = list(passengers)

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [54]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

In [55]:
import weakref
s1 = {1,2,3}
s2 = s1

In [56]:
def bye():
    print('Gone with the wind...')

In [57]:
ender = weakref.finalize(s1, bye)
ender.alive

True

In [59]:
del s1

In [60]:
ender.alive

True

In [61]:
s2 = 'spam'

Gone with the wind...

In [62]:
ender.alive

False